<!DOCTYPE html>
<html>
<head>
  <title>RestTester</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<h1>Arbitrary header 1 tag!!!</h1>
<%= yield %>

<h3>Arbitrary header 3 tag!!!</h3>

</body>
</html>
