<h1>About</h1>

<p>The objective of this project is to give people the ability to discover what's going on around them that they might not be aware of as well as to cultivate meaningful relationships based on shared interests.</p>